.tab-wali {
    color: #303030;
}

.tab-wali button {
    background-color: inherit;
    float: left;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    color: #303030;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid #EC3528;
    font-weight: 600;
}

.tab-wali button.active {
    border-bottom: 5px solid #FFFFFF;
    color: #FFFFFF;
}

.tabcontent-wali {
    display: none;
    padding: 6px 12px;
    border-top: none;
}

.tablinknya-tugas-ujian{
    position: absolute; 
    width: 100vw;
    background-color: #EC3528;
}

.badge.bg-time-exam{
    background-color: #FFE6E6;
}

.badge.bg-history-exam{
    background-color: #D4FFF3;
}

.btn.btn-44.number-exam{
    background-color: #FFE6E6;
}

.btn-44 {
    height: 44px !important;
    line-height: 45px !important;
    width: 44px !important;
    padding: 0 !important;
}